
main{
    height: min-content;
    width: 100%;   
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
main .background-image{
    margin: 20px;
    height:100vh;
    width: 50%;
    text-align: center;
    background-image: url("../images/backgroundHome.jpg");
    background-size: cover;
    filter: sepia(30%) grayscale(40%); ;
    color: var(--green);
    border-radius: 25%;
}
main .div-text{
    font-size: 2.4rem;
    text-align: left;
    font-weight: bold;
    border-left: 2px solid var(--dark-green);
    padding-left: 20px;
    color: var(--dark-green);
}