:root{
  --green: hsl(147, 50%, 47%);
  --light-green: hsl(100, 86%, 74%);
  --dark-green:hsl(147, 49%, 35%); ;
  --supreme-dark-green: rgb(22, 59, 10);
  --red: hsl(4, 82%, 63%);
  
  --body-color:hsl(225, 100%, 99%);
  --yellow: hsl(42, 100%, 75%);
  --grey-dark:hsl(216, 21%, 38%);
  --grey-blue: hsl(217, 31%, 72%);
  --grey-medium:  hsl(216, 21%, 86%);
  --grey-light: hsl(215, 30%, 92%);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.sr-only{
  position: absolute;
  display: none;
  visibility: 0;
  opacity: 0;
  width: 1px;
  height: 1px;
  margin: -1;
  overflow: hidden;
  white-space: nowrap;
  border-width: 0;
  clip-path: rect(0,0,0,0);
}
.disable{
  position: absolute;
  display: none;
  visibility: 0;
  opacity: 0;
  width: 1px;
  height: 1px;
  margin: -1;
  overflow: hidden;
  white-space: nowrap;
  border-width: 0;
  clip-path: rect(0,0,0,0);
}
main{
  min-height: 100vh;
}

body{
  font-family: 'Nunito';
  background-color: var(--body-color);
}

/* nav bar */

nav.navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--green);
  height: 85px;
  font-weight: normal;
  font-size: 1.35rem;
}

nav.navbar ul{
  display: flex;
  justify-content: flex-end;
  width: 90vw;
  list-style: none;
}

nav.navbar ul li{
  display: inline-block;
  margin-left: 2%;
}
nav.navbar ul li a{
  color: white;
  text-decoration: none;
}

/* footer */
footer{
  background-color: var(--green);
  height: max-content;
  font-size: 1.1em;
  color: white;
}
footer input{
  border: none;
}

footer a{
  text-decoration: none;
  color: white;
}

footer h4{
  font-weight: lighter;
}

footer section{
  padding: 20px;
  flex-grow: 1;
}

footer div.topContainer{
  display: flex;
  flex-wrap: wrap;
  padding-top: 2%;
  justify-content: baseline;
}

footer section.logo{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

footer section nav ul{
  list-style: none;
}

footer section input{
  display: block;
  padding: 12px;
  margin-bottom: 2%;
  width: 80%;
  border-radius: 5px;
}

footer section input[type="submit"]{
  font-weight: bold;
  cursor: pointer;
  background-color: var(--dark-green);
  color: white;
}

footer section h2{
  font-weight: lighter;
  font-size: 1.1em;
  padding-bottom: 4%;
}

footer section nav ul li a{
    font-size: 1.04em;
    color: white;
}

/* Social midias */

footer section.social-midias{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--dark-green);
}

footer section.social-midias .container{ 
  display: flex;
  justify-content: space-between;
  width: 91%;
}

footer section.social-midias div a{
  padding-left: 5px;
} 
footer section.social-midias div img{
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(16deg) brightness(102%) contrast(101%);
  width: 32px;
  height: 32px;
}

